.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    padding: 7px 20px 5px 20px;
    border: 1px solid #ddd;
    color: #333;
    font-size: 14px;
}

.btn.white {
    border: 1px solid #fff;
    color: #fff;
}

.btn.black {
    border: 1px solid #333;
    color: #333;
}

.btn.blue {
    border: 1px solid #369;
    color: #369;
}

.sec {
    padding: 100px 0;
}

.sec .title {
    max-width: 1200px;
    margin: 0 auto 28px auto;
    padding: 0 15px;
}

.sec .title h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.sec .title p {
    font-size: 15px;
    font-weight: 300;
    line-height: 19px;
}

/* header */
/* .header h1 { 지금은 잘맞는데 어쩌다 안맞을때
    font-size: 0;
} */

.header {
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 1px solid transparent;
    z-index: 999;
}

.header.on {
    border-bottom: 1px solid #ddd;
}

.header .heder_wrap {
    display: flex;
    height: 100px;
    align-items: center;
    transition: 0.5s;
}

.header.on .heder_wrap {
    height: 70px;
}

/* .gnb는 하나뿐이라서 단독사용도 가능함 */
.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul>li {
    position: relative;
    white-space: nowrap;
    word-break: keep-all;
}

.header .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);
    width: 1px;
    height: 12px;
    background: #ddd;
}

.header .search {
    margin: 0 0 0 50px;
}

.header .search input[type="text"] {
    width: 100px;
    border: none;
    border-bottom: 1px solid #666;
    outline: none;
    font-size: 14px;
    font-family: 'Noto Sans KR';
    transition: width 0.5s;
}

.header .search input[type="text"]::placeholder {
    color: #ddd;
}

.header .search input[type="text"]:focus {
    width: 160px;
}

.header .search input[type="text"]:focus::placeholder {
    color: transparent;
}

.header .search button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 30px;
    vertical-align: middle;
}

/* sec main_visual */
.main_visual {
    position: relative;
    height: calc(100vh - 101px);
    overflow: hidden;
}

.main_visual .itm {
    position: relative;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 150%;
}

.main_visual .itm .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -700px;
}

.main_visual .itm.on {
    background-size: auto 100%;
    transition: 2s;
}

.main_visual .itm01 {
    background-image: url(../images/mainvisual01.jpg);
}

.main_visual .itm02 {
    background-image: url(../images/mainvisual02.jpg);
}

.main_visual .itm03 {
    background-image: url(../images/mainvisual03.jpg);
}

.main_visual .itm h3 {
    font-size: 50px;
    /* white-space: nowrap; */
    color: #fff;
    margin: 0 0 20px 0;

    transform: translate(0, 100px);
    opacity: 0;
}

.main_visual .itm.on h3 {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
}

.main_visual .itm h3 span {
    margin: 0 20px 0 0;
    font-weight: 100;
}

.main_visual .itm h3 strong {
    font-weight: 900;
}

.main_visual .itm p {
    width: 350px;
    font-size: 15px;
    color: #fff;
    line-height: 22px;
    margin: 0 0 30px 0;

    transform: translate(0, 100px);
    opacity: 0;
}

.main_visual .itm.on p {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.main_visual .itm .btn {
    transform: translate(0, 100px);
    opacity: 0;
}

.main_visual .itm.on .btn {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1s;
}

.main_visual .itm02 h3 {
    color: #333;
}

.main_visual .itm02 p {
    color: #333;
}

.main_visual .menu {
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 200px;
    left: 50%;
    margin: 0 0 0 -700px;
    padding: 0 15px;
}

.main_visual .menu li {
    position: relative;
    width: 100px;
    height: 30px;
}

.main_visual .menu li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0.3);
}

.main_visual .menu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 4px;
    background: rgba(255, 255, 255, 1);
}

.main_visual .menu li.on::after {
    width: 100%;
    transition: 4s;
}

.main_visual .menu li a {
    display: block;
    color: rgba(0, 0, 0, 0.3);
}

.main_visual .menu li.on a {
    color: rgba(255, 255, 255, 1);
}

.main_visual .arrows {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    margin: 0 0 0 700px;
    padding: 0 15px;
}

.main_visual .arrows i {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transition: 0.7s;
    cursor: pointer;
}

.main_visual .arrows i:hover {
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
}

.main_visual .scr {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    bottom: 100px;
    left: 50%;
    transform: translate(-100%, 0);
    color: #fff;
    margin: 0 0 0 700px;
    padding: 0 15px;
}

.main_visual .slide_num {
    position: absolute;
    gap: 30px;
    top: 100px;
    left: 50%;
    transform: translate(-100%, 0);
    color: #fff;
    margin: 0 0 0 700px;
    padding: 0 15px;
}

.main_visual .scr::before {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    width: 24px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
}

.main_visual .scr::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 26px;
    width: 2px;
    height: 10px;
    background: #333;
    border-radius: 1px;
    animation: wheel 1s infinite;
}

@keyframes wheel {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 6px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.main_visual .scr span {
    position: absolute;
    top: 13px;
    left: 0;
    transform: translate(calc(-100% - 20px), 0);
    white-space: nowrap;
    font-size: 14px;
    text-transform: uppercase;
}

/* sec mian_event */
.main_event .content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main_event .img_box {
    margin: 0 0 20px 0;
    overflow: hidden;
}

.main_event .img_box img {
    transition: 1s;
}

.main_event .img_box:hover img {
    transform: scale(1.2);
}

.main_event .des {
    margin: 0 0 10px 0;
}

.main_event .des li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.main_event .des li strong {
    position: relative;
    font-weight: 500;
    padding: 0 0 0 20px;
}

.main_event .des li strong::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 5px;
    height: 5px;
    background: #333;
}

.main_event .case {
    text-align: right;
}

/* sec main_banner */
.main_banner {
    background: url(../images/mainvisual01.jpg) no-repeat fixed center center/cover;
    filter: grayscale(1);
    color: #fff;
    text-align: center;
    /* border-radius: 50px 0;
    margin: 0 50px; */
}

.main_banner .title p {
    margin: 0 0 60px 0;
}

.main_banner .title span {
    text-transform: uppercase;
    margin: 0 10px 0 0;
    font-size: 12px;
    vertical-align: 3px;
    user-select: none;
}

.main_banner i {
    filter: none;
    padding: 10px;
    border-radius: 50%;
    /* 필터 제거해서 토마토 살리기 숙제야 */
    background: tomato;
}

/* sec mian_product */

.main_product {
    background: #f9f9f9;
}

.main_product .content {
    display: flex;
    gap: 30px;
}

.main_product .content>* {
    flex: 1;
    /* min-w 0 도가능한데 float 할때처럼 히든을 준다 */
    overflow: hidden;
}

.main_product .product_slide figure {
    padding: 0 5px;
}

.main_product .product_slide figure img {
    height: 230px;
    object-fit: cover;
    margin: 0 0 10px 0;
}

.main_product .product_slide figure strong {
    font-size: 12px;
}

@media (max-width: 768px) {
    .main_product .content {
        flex-direction: column;
    }
}

/* secproduct2 */
.main_big_product {
    position: relative;
    background: #f9f9f9;
}

.main_big_product .case {
    overflow: hidden;
}

.main_big_product .product_slide2 {
    margin: 0 -15px;
}

.main_big_product .arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
    padding: 0 15px;
}

.main_big_product .arrows i {
    padding: 20px 5px;
    background: #fff;
    cursor: pointer;
}

.main_big_product .slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
}

.main_big_product .slick-dots li {
    display: inline-block;
}

.main_big_product .slick-dots li button {
    width: 20px;
    height: 20px;
    background: #ddd;
    font-size: 12px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0 2px;
    cursor: pointer;
    color: #333;
}

.main_big_product .slick-dots li.slick-active button {
    background: #333;
    color: #fff;
}

/* 이미지 라인이 안맞아서 m으로 땡겨줬어 */
.main_big_product .product_slide2 figure {
    padding: 0 15px;
}

/* history */
.main_history .history {
    display: flex;
    gap: 30px;

    /* 이미지 넣으니까 덜컹거려서 */
    min-height: 400px;
    border-bottom: 1px solid #ddd;
}

.main_history .history>* {
    flex: 1;
}

.main_history .history .history_menu li {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0 0 0 30px;
    display: flex;
    gap: 30px;
}

.main_history .history .history_menu li strong {
    font-size: 18px;
    font-weight: 500;
}

.main_history .history .history_menu li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border: 2px solid tomato;
    border-radius: 50%;
}

.main_history .history .history_menu li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 4px;
    bottom: -25px;
    width: 2px;
    background: tomato;
}

.main_history .history .history_content li {
    height: 0;
    overflow: hidden;
}

.main_history .history .history_content li.on {
    height: auto;
}

.main_history .history .history_content figure {
    margin: 0 0 10px 0;
}


/* main_portfolio */
.main_portfolio {
    position: relative;
    background: #f9f9f9;
}

.main_portfolio .content {
    max-width: 100%;
    padding: 0 0;
}

.main_portfolio .slick-dots {
    margin: 40px 0;
    text-align: center;
}

.main_portfolio .slick-dots li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #369;
    margin: 0 10px;
    cursor: pointer;
}

.main_portfolio .slick-dots button {
    display: none;
}

.main_portfolio .slick-dots li.slick-active {
    background: #333;
}

.main_portfolio figure {
    max-width: 1200px;
    padding: 0 15px;
    transition: 1.5s;
    margin: 0 50px;
}

.main_portfolio figure:not(.slick-current) {
    filter: grayscale(1);
    opacity: 50%;
}

.main_portfolio .itm {
    display: none;
    flex-direction: column;
    height: 100%;
}

.main_portfolio .itm.on {
    display: flex;
}

.main_portfolio .itm a {
    margin: auto 0 0 0;
    align-self: flex-start;
}

.main_portfolio .itm h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 8px 0;
}

.main_portfolio .itm p {
    line-height: 20px;
}

.main_portfolio .tab_arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1300px;
    width: 100%;
    user-select: none;
    cursor: pointer;
}

.main_portfolio .tab_arrows .left {
    position: absolute;
    left: 15px;
    width: 100px;
    height: 30px;
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
}

.main_portfolio .tab_arrows .left::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background: #333;
}

.main_portfolio .tab_arrows .left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 20px;
    height: 2px;
    transform: rotate(-45deg);
    transform-origin: left bottom;
    background: #333;
}

.main_portfolio .tab_arrows .right {
    position: absolute;
    right: 15px;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    font-size: 12px;
}

.main_portfolio .tab_arrows .right::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background: #333;
}

.main_portfolio .tab_arrows .right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 2px;
    transform: rotate(45deg);
    transform-origin: right bottom;
    background: #333;
}

.main_portfolio .tab_txt {
    position: absolute;
    top: 400px;
    left: 50%;

    /* display: flex; */
    margin: 0 0 0 -500px;
    background: #fff;
    border: 1px solid #ddd;

    width: 320px;
    height: 420px;
    padding: 40px 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.main_portfolio .tab_txt::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    transform: translate(-50%, 0);
    width: 40px;
    height: 2px;
    background: #369;
}

/* footer */
.footer {
    background: #444;
    color: #ddd;
}

.footer .content {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.footer .content ul {
    display: flex;
    align-items: center;
}

.footer .content li strong {
    font-weight: 500;
    font-size: 14px;
}

.footer .customer li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #666;
    margin: 0 15px;
}

.footer .ft {
    border-bottom: 1px solid #666;
}

.footer .sns {
    gap: 5px;
}

.footer .sns i {
    padding: 5px;
    font-size: 20px;
    background: #333;
}

.footer address {
    font-style: normal;
}

.footer .link {
    gap: 10px;
    font-size: 12px;
}

#fl {
    outline: none;
    padding: 5px 20px;
    border: 1px solid #ddd;
    background: #369;
    color: #fff;
}

.family_link2 {
    position: relative;
}

.family_link2 span {
    display: block;
    border: 1px solid #ddd;
    width: 150px;
    line-height: 29px;
    padding: 0 15px;
    background: #369;
    color: #fff;
    cursor: pointer;
}

.family_link2 span i {
    float: right;
    line-height: 29px;
}

.family_link2 span.on i {
    transform: rotate(180deg);
}

.family_link2 .fl2 ul {
    position: absolute;
    display: none;
    bottom: 29px;
    left: 0;
    width: 100%;
    border: 1px solid #ddd;
    background: #369;
    color: #fff;
    line-height: 29px;
    flex-direction: column;
    align-items: stretch;
}

.family_link2 .fl2 ul.on {
    display: flex;
}

.family_link2 .fl2 ul li a {
    display: block;
    padding: 0 15px;
}

.family_link2 .fl2 ul li~li {
    border-top: 1px solid #ddd;
}

/* to_top */
.to_top {
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.to_top.on {
    bottom: 50px;
    opacity: 1;
    visibility: visible;
}

.to_top i {
    color: #fff;
    background: tomato;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}