.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    padding: 7px 20px 5px 20px;
    border: 1px solid #ddd;
    color: #333;
    font-size: 14px;
}

.btn.white {
    border: 1px solid #fff;
    color: #fff;
}

.btn.black {
    border: 1px solid #333;
    color: #333;
}

.btn.blue {
    border: 1px solid #369;
    color: #369;
}

.sec {
    padding: 100px 0;
}

.sec .title {
    max-width: 1200px;
    margin: 0 auto 28px auto;
    padding: 0 15px;
}

.sec .title h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.sec .title p {
    font-size: 15px;
    font-weight: 300;
    line-height: 19px;
}

/* sec main_visual */
.main_visual {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.main_visual .itm {
    position: relative;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 150%;
}

.main_visual .itm .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -700px;
}

.main_visual .itm.on {
    background-size: auto 100%;
    transition: 2s;
}

.main_visual .itm01 {
    background-image: url(../images/mainvisual01.jpg);
}

.main_visual .itm02 {
    background-image: url(../images/mainvisual02.jpg);
}

.main_visual .itm03 {
    background-image: url(../images/mainvisual03.jpg);
}

.main_visual .itm h3 {
    font-size: 50px;
    /* white-space: nowrap; */
    color: #fff;
    margin: 0 0 20px 0;

    transform: translate(0, 100px);
    opacity: 0;
}

.main_visual .itm.on h3 {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
}

.main_visual .itm h3 span {
    margin: 0 20px 0 0;
    font-weight: 100;
}

.main_visual .itm h3 strong {
    font-weight: 900;
}

.main_visual .itm p {
    width: 350px;
    font-size: 15px;
    color: #fff;
    line-height: 22px;
    margin: 0 0 30px 0;

    transform: translate(0, 100px);
    opacity: 0;
}

.main_visual .itm.on p {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.main_visual .itm .btn {
    transform: translate(0, 100px);
    opacity: 0;
}

.main_visual .itm.on .btn {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1s;
}

.main_visual .itm02 h3 {
    color: #333;
}

.main_visual .itm02 p {
    color: #333;
}

.main_visual .menu {
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 200px;
    left: 50%;
    margin: 0 0 0 -700px;
    padding: 0 15px;
}

.main_visual .menu li {
    position: relative;
    width: 100px;
    height: 30px;
}

.main_visual .menu li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0.3);
}

.main_visual .menu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 4px;
    background: rgba(255, 255, 255, 1);
}

.main_visual .menu li.on::after {
    width: 100%;
    transition: 4s;
}

.main_visual .menu li a {
    display: block;
    color: rgba(0, 0, 0, 0.3);
}

.main_visual .menu li.on a {
    color: rgba(255, 255, 255, 1);
}

.main_visual .arrows {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    margin: 0 0 0 700px;
    padding: 0 15px;
}

.main_visual .arrows i {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transition: 0.7s;
    cursor: pointer;
}

.main_visual .arrows i:hover {
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
}

.main_visual .scr {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    bottom: 100px;
    left: 50%;
    transform: translate(-100%, 0);
    color: #fff;
    margin: 0 0 0 700px;
    padding: 0 15px;
}

.main_visual .scr::before {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    width: 24px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
}

.main_visual .scr::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 26px;
    width: 2px;
    height: 10px;
    background: #333;
    border-radius: 1px;
    animation: wheel 1s infinite;
}

@keyframes wheel {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 6px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.main_visual .scr span {
    position: absolute;
    top: 13px;
    left: 0;
    transform: translate(calc(-100% - 20px), 0);
    white-space: nowrap;
    font-size: 14px;
    text-transform: uppercase;
}

/* sec mian_event */
.main_event .content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main_event .img_box {
    margin: 0 0 20px 0;
    overflow: hidden;
}

.main_event .img_box img {
    transition: 1s;
}

.main_event .img_box:hover img {
    transform: scale(1.2);
}

.main_event .des {
    margin: 0 0 10px 0;
}

.main_event .des li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.main_event .des li strong {
    position: relative;
    font-weight: 500;
    padding: 0 0 0 20px;
}

.main_event .des li strong::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 5px;
    height: 5px;
    background: #333;
}

.main_event .case {
    text-align: right;
}

/* sec mian_product */

.main_product {
    background: #f9f9f9;
}

.main_product .content {
    display: flex;
    gap: 30px;
}

.main_product .content>* {
    flex: 1;
    /* min-w 0 도가능한데 float 할때처럼 히든을 준다 */
    overflow: hidden;
}

@media (max-width: 768px) {
    .main_product .content {
        flex-direction: column;
    }
}